{% extends 'form_div_layout.html.twig' %}

{% block form_help %}
    {% spaceless %}
    {% if help %}
        <div class="{{ isControlGroup ? 'ControlGroup' : 'Control' }}-help">{{ help }}</div>
    {% endif %}
    {% endspaceless %}
{% endblock %}

{% block form_label %}
    {{ parent() }}
    {% if required %}
        <span class="required" title="This field is required">*</span>
    {% endif %}
{% endblock %}

{# Renders a control group #}
{% block control_group %}
    {% set attr = control_group_attr %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {{ form_label(form, null, {'label_attr': control_group_label_attr}) }}
            {{ block('form_help') }}
            {{ form_errors(form) }}
            <div class="ControlGroup-controls">
                {# if the form is compound we just render the widget which starts the loop again #}
                {% if compound %}
                    {{ form_widget(form) }}
                {# if the form is not compound we just render out the widget in a div manually #}
                {% else %}
                    {% set attr = control_attr %}
                    <div {{ block('widget_container_attributes') }}>
                        {{ form_widget(form) }}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endspaceless %}
{% endblock control_group %}

{# Renders a control and it's inputs #}
{% block control %}
    {% set attr = control_attr %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {{ form_label(form, null, {'label_attr': control_label_attr}) }}
            {{ block('form_help') }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        </div>
    {% endspaceless %}
{% endblock control %}

{# Renders a form row. Determines if this is a control group (top level) and acts accordingly #}
{% block form_row %}
    {% spaceless %}
        {% if isControlGroup %}
            {{ block('control_group') }}
        {% else %}
            {{ block('control') }}
        {% endif %}
    {% endspaceless %}
{% endblock form_row %}

{# Renders a compound widget. Div wrappers are added in the control and control block rows  #}
{% block form_widget_compound %}
    {% spaceless %}
        {% if form.parent is empty %}
            {{ form_errors(form) }}
        {% endif %}
        {{ block('form_rows') }}
        {{ form_rest(form) }}
    {% endspaceless %}
{% endblock form_widget_compound %}
