{% extends 'NsmFormBundle:Form:form_div_layout.html.twig' %}

{% block form_start %}
    {% spaceless %}
        {{ parent() }}
        <table>
            <tbody>
    {% endspaceless %}

{% endblock form_start %}

{% block form_end %}
    {% spaceless %}
            </tbody>
        </table>
        {{ parent() }}
    {% endspaceless %}
{% endblock form_end %}

{# Renders a control group #}
{% block control_group %}
    {% set attr = control_group_attr %}
    {% set label_attr = control_group_label_attr %}

    {% spaceless %}
        <tr {{ block('widget_container_attributes') }}>
            <th scope="row">
            {{ form_label(form, null, {'label_attr': control_group_label_attr}) }}
            {{ block('form_help') }}
            </th>
            <td class="ControlGroup-controls">
                {% set attr = control_attr %}
                <div {{ block('widget_container_attributes') }}>
                    {{ form_errors(form) }}
                    {{ form_widget(form) }}
                </div>
            </td>
        </tr>
    {% endspaceless %}
{% endblock control_group %}

{# Renders a collection #}
{% block collection %}

    {#{{ form_row(prototype) }}#}

    {% set collection_attr = collection_attr|merge({
        'data-prototype': form_row(prototype)
    }) %}

    {% set attr = collection_attr %}
    {% set label_attr = collection_label_attr %}

    {% spaceless %}
        <tr {{ block('widget_container_attributes') }}>
            <th scope="row">
            {{ form_label(form, null, {'label_attr': label_attr}) }}
            {{ block('form_help') }}
            </th>
            {% set attr = control_attr %}
            <td class="Collection-items">
                {{ form_errors(form) }}
                {{ form_widget(form) }}
            </td>
        </tr>
    {% endspaceless %}
{% endblock collection %}

{% block button_row %}
    {% spaceless %}
        <tr>
            <td colspan="2">
                {{ form_widget(form) }}
            </td>
        </tr>
    {% endspaceless %}
{% endblock button_row %}
