{% import '_macros.html.twig' as macros %}


<!DOCTYPE html>
<html prefix="hx: http://purl.org/NET/hinclude">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    {% block stylesheets %}
    <!-- build:css /themes/default/styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/normalize-css/normalize.css" />
    <link rel="stylesheet" href="/bower_components/selectize/dist/css/selectize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css /themes/default/styles/screen.css -->
    <link rel="stylesheet" href="/themes/default/styles/screen.css" media="screen, projection" type="text/css" />
    <!-- endbuild -->

    <!-- build:css /themes/default/styles/print.css -->
    <link rel="stylesheet" href="/themes/default/styles/print.css" media="print" type="text/css" />
    <!-- endbuild -->
    {% endblock %}

</head>
<body>
<div class="App">

    <div class="App-header">

            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <img src="{{ gravatar(app.user.email) }}" style="height:24px; width:24px; border-radius: 100px" />
                <p>{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</p>
                <ul>
                    <li>
                        <a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                    </li>
                    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                    <li>
                        <a href="{{ path('dashboard_browse', {'_switch_user': '_exit'}) }}">Exit impersonation</a>
                    </li>
                    {% endif %}
                </ul>
            {% else %}
            <ul>
                <li><a class="ActionList-item" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                <li><a class="ActionList-item" href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a></li>
                <li><a class="ActionList-item" href="{{ path('hwi_oauth_connect') }}">Connect</a></li>
            </ul>
            {% endif %}
        </div>
    </div>

    <div class="App-body">

        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <div class="App-nav">
            <ul>
                {% for item in ['project', 'task', 'activity', 'invitation'] %}
                    <li><a href="{{ path(item~"_browse") }}" style="text-transform: capitalize">{{ item }}</a></li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <div class="Page">

            <div class="Page-alerts">
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="flash-{{ type }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>

            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div class="Page-tips">
                {{ render_hinclude(url('tip_browse', {
                    'filter': {'route': app.request.get('_route')},
                    '_template': 'embed'
                })) }}
            </div>
            {% endif %}

            <div class="Page-header">
                <div class="Page-header-main">
                    {% block page_breadcrumb %}{% endblock %}
                    {% block page_title %}{% endblock %}
                </div>
                {% block page_actions %}{% endblock %}
            </div>


            <div class="Page-body">
                {% block page_body %}{% endblock %}
                {% block fos_user_content %}{% endblock %}
                {% block hwi_oauth_content %}{% endblock %}
            </div>

            <div class="Page-footer">
                {% block page_footer %}{% endblock %}
            </div>

        </div>

    </div>
    <div class="App-footer"></div>

    {% block javascripts %}
    <!-- build:js /themes/default/scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/console-polyfill/index.js"></script>
    <script src="/bower_components/jquery-ui/ui/core.js"></script>
    <script src="/bower_components/jquery-ui/ui/widget.js"></script>
    <script src="/bower_components/jquery-ui/ui/mouse.js"></script>
    <script src="/bower_components/jquery-ui/ui/sortable.js"></script>
    <script src="/bower_components/jquery-validation/dist/jquery.validate.js"></script>
    <script src="/bower_components/sifter/sifter.js"></script>
    <script src="/bower_components/microplugin/src/microplugin.js"></script>
    <script src="/bower_components/selectize/dist/js/selectize.js"></script>
    <script src="/bower_components/lodash/dist/lodash.compat.js"></script>
    <script src="/bower_components/velocity/jquery.velocity.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js /themes/default/scripts/app.js -->
    <script src="/themes/default/scripts/widgets/flyout/src/jquery.nsm.flyout.js"></script>
    <script src="/themes/default/scripts/widgets/buttonFlyout/src/jquery.nsm.buttonFlyout.js"></script>
    <script src="/themes/default/scripts/widgets/collection/src/jquery.nsm.collection.js"></script>
    <script src="/themes/default/scripts/widgets/entitySearch/src/jquery.nsm.entitySearch.js"></script>
    <script src="/themes/default/scripts/widgets/multiCheckboxes/src/jquery.nsm.multiCheckboxes.js"></script>
    <script src="/themes/default/scripts/widgets/overflowNav/src/jquery.nsm.overflowNav.js"></script>
    <!-- endbuild -->

    <script>
        $('body').on('contentcreated', function (event) {
            // Fire any other events on this element
            // But don't bubble
            event.stopPropagation();
            var $el = $(event.target);

            $el.find('.FlyoutTrigger').flyoutTrigger();

            $el.find('[data-widget~="buttonGroup"]').buttonFlyout();
            $el.find('[data-widget~="entitySearch"]').entitySearch();
            $el.find('[data-widget~="collection"]').collection();

        }).trigger('contentcreated');
    </script>
    {% endblock %}

</div>
</body>
</html>

