{% extends 'NsmApiBundle::layout.html.twig' %}

{% set entities = pager.getCurrentPageResults %}

{% block content -%}

    <h1>Invitations list</h1>

    {{ form_start(search_form, {"attr": {"class": "Form", "novalidate": "novalidate"}}) }}
    <table>
        <tbody>
        {{ form_row(search_form.id) }}
        </tbody>
    </table>
    <div class="Form-actions">
        {{ form_row(search_form.search) }}
    </div>
    {{ form_end(search_form) }}

    <table>
        <caption>
            Showing {{ pager.currentPageFirstResultOffset }} - {{ pager.currentPageLastResultOffset }} of {{ pager.totalResultCount }} results
        </caption>

        <thead>
        <tr>
            <th>Id</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('invitation_read', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('invitation_read', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('invitation_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                        <li>
                            <a href="{{ path('invitation_destroy', { 'id': entity.id }) }}">destroy</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('invitation_add') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}
