{% extends 'NsmAppBundle::layout.html.twig' %}
{% form_theme searchForm 'NsmFormBundle:Form:form_table_layout.html.twig' %}

{% set entities = pager.getCurrentPageResults %}

{% block content -%}
    <h1>Feature list</h1>

    {{ form_start(searchForm, {"attr": {"class": "Form", "novalidate": "novalidate"}}) }}
    <table>
        <tbody>
        {{ form_row(searchForm.id) }}
        {{ form_row(searchForm.title) }}
        {{ form_row(searchForm.project) }}
        </tbody>
    </table>
    <div class="Form-actions">
        {{ form_row(searchForm.search) }}
    </div>
    {{ form_end(searchForm) }}



        <ul>
        <li>
            <a href="{{ path('feature_add') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
