<div>
    <a href="{{ "{{ path('" ~ entity_service_name ~ "') }}" }}">
        Back to the list
    </a>
</div>
<div>
    <a href="{{ "{{ path('" ~ entity_service_name ~ "_edit', { 'id': entity.id }) }}" }}">
        Edit
    </a>
</div>
<div>{{ '{{ form(delete_form) }}' }}</div>
