{% extends 'NsmAppBundle::layout.html.twig' %}

{% set entities = pager.getCurrentPageResults %}

{% block page_title %}
    <div class="Page-title">
        <h1>Projects</h1>
    </div>
{% endblock %}

{% block page_actions -%}

    <ul class="Panel-actions ActionList">
        <li class="ActionList-item">
            <a href="{{ path('project_add') }}">Add Project</a>
        </li>
        <li class="ActionList-item">
            <a href="#filter">Search</a>
        </li>
    </ul>

{% endblock %}

{% block page_body -%}

    <div class="DataGrid" data-widget="dataGrid" data-data-grid-options="{{
        {
            filter: {},
            perPage: {},
            page: 1,
            orderBy: {
                id: "desc"
            }
        } | json_encode(24)
    }}">

        <div class="DataGrid-filter">
            <div class="Panel Panel--search">
                <div class="Panel-header">
                    <div class="Panel-header-main">
                    <h2 class="Panel-title">Search Contacts</h2>
                    <ul class="Panel-controls ActionList">
                        <li class="ActionList-item"><a href="#">Advanced Search</a></li>
                    </ul>
                    </div>
                    <ul class="Panel-controls Panel-controls--right">
                        <li>
                            <span class="Button Button--icon">
                            <svg viewBox="0 0 24 24" style="pointer-events: none; width: 24px; height: 24px; display: block;"><g id="close"><polygon points="19,6.4 17.6,5 12,10.6 6.4,5 5,6.4 10.6,12 5,17.6 6.4,19 12,13.4 17.6,19 19,17.6 13.4,12 "></polygon></g></svg>
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="Panel-body">
                    {{ form(search_form, {"attr": {"class": "Form", "novalidate": "novalidate"}}) }}
                </div>
            </div>
        </div>

        <div class="DataGrid-results">
            <div class="DataGrid-results-header">
                <div class="DataGrid-paginationSummary">
                    <span class="Pagination-currentPageRange">
                        Displaying
                        <span class="Pagingation-currentPageOffsetStart">{{ pager.currentPageFirstResultPositionInTotalResults }}</span> -
                        <span class="Pagingation-currentPageOffsetEnd">{{ pager.currentPageLastResultPositionInTotalResults }}</span>
                    </span>
                    <span class="Pagination-totalResults">
                        of
                        <span class="Pagination-totalResultCount">{{ pager.totalResultCount }}</span>
                        results
                    </span>
                </div>
                <div class="">
                    <button class="Button Button--default Button--small Button--text">
                        Export &nbsp;
                        <svg viewBox="0 0 12 24" style="pointer-events: none; width: 12px; height: 24px; display: inline-block; fill: black">
                            <g id="arrow-drop-down">
                                <polygon points="1,9 6,14 11,9"></polygon>
                            </g>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="DataGrid-results-body">
                <div class="DataGrid-results-data">
                    <table class="Table Table--data Table--bordered" data-widget="dataTable" data-data-table-options="{{ {query: app.request.query.all} | json_encode(24) }}">
                        <thead>
                        <tr>
                            <th data-attribute="id">Id</th>
                            <th data-attribute="title">Title</th>
                            <th data-attribute="createdAt">Created At</th>
                            <th data-attribute="taskCount">Tasks</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for entity in entities %}
                            <tr>
                                <td><a href="{{ path('project_read', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                                <td>{{ entity.title }}</td>
                                <td>{{ entity.createdAt|localizeddate('full', 'long') }}</td>
                                <td>{{ entity.tasks.count }}</td>
                                <td>
                                    <ul>
                                        <li>
                                            <a href="{{ path('task_add', { 'projectId': entity.id }) }}">create task</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('project_read', { 'id': entity.id }) }}">show</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('project_edit', { 'id': entity.id }) }}">edit</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('project_destroy', { 'id': entity.id }) }}">destroy</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    {% endblock %}
