{% extends 'NsmAppBundle::layout.html.twig' %}

{% block content -%}

    <p><a href="{{ path('project_browse') }}">Projects</a> / Destroy</p>
    <h1>{{ entity.title }}</h1>

    <ul>
        <li>
            <a href="{{ path('project_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>
            <a href="{{ path('project_destroy', { 'id': entity.id }) }}">
                Destroy
            </a>
        </li>
    </ul>

    <form action="{{ path('project_delete', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
        <input type="hidden" name="_method" value="DELETE" />
        {{ form_widget(form) }}
        <p>
            <button type="submit">Destroy</button>
        </p>
    </form>

{% endblock %}

