{{ "{% extends 'NsmApiBundle::layout.html.twig' %}" }}

{{ "{% block body -%}" }}
    <h1>{{ entity_english_name }} creation</h1>

    {{ '{{ form(form) }}' }}

    {% include 'Resources/views/others/record_actions.html.twig.twig' %}
{{ "{% endblock %}" }}
