<!DOCTYPE html>
<html xmlns:hx="http://purl.org/NET/hinclude">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="/bundles/nsmform/bower_components/selectize/dist/css/selectize.default.css"/>
    <style>

        html, body {
            font-family: sans-serif;
        }

        table {
            border: 1px solid #ccc;
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #ccc;
        }

        form {
            border: 1px solid red;
            padding: 10px;
        }

        .ControlGroup {
            border: 1px solid green;
            padding: 10px;
        }

        .ControlGroup-controls {
            border: 1px dotted green;
            padding: 10px;
        }

        .Control {
            border: 1px solid blue;
            padding: 10px;
        }

        .Collection {background: yellow; margin: 10px;}
        .Collection-items {background: pink; margin: 10px;}
        .CollectionItem {background: lightblue; margin: 10px;}
        .CollectionItem-controls {background: lightgreen; margin: 10px;}

        form table .ControlGroup-controls {
            padding: 0
        }

        form table .Control--hasSiblings {
            float: left;
        }

        form table tbody th {
            padding: 10px;
            text-align: right;
            vertical-align: top
        }

        textarea {
            width: 100%; height: 300px;
        }

        @media (max-width: 600px) {
            form table,
            form table thead,
            form table tbody,
            form table tfoot,
            form table tr,
            form table td,
            form table th {
                display: block;
                text-align: left !important
            }

            form table tr {
                margin-bottom: 20px;
            }

            form table .Control--hasSiblings {
                float: none !important;
            }
        }

    </style>

</head>
<body>
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}
    <ul>
        <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
        {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
        <li><a href="{{ path('dashboard_browse', {'_switch_user': '_exit'}) }}">Exit impersonation</a></li>
        {% endif %}
    </ul>
    {% else %}
    <ul>
        <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
        <li><a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a></li>
        <li><a href="{{ path('hwi_oauth_connect') }}">Connect</a></li>
    </ul>
    {% endif %}

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <ul>
    {% for item in ['project', 'task', 'feature', 'activity', 'invitation'] %}
        <li><a href="{{ path(item~"_browse") }}" style="text-transform: capitalize">{{ item }}</a></li>
    {% endfor %}
    </ul>
{% endif %}

{% for type, messages in app.session.flashbag.all() %}
    {% for message in messages %}
        <div class="flash-{{ type }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

    {{ render_hinclude(url('tip_browse', {
        'filter': {'route': app.request.get('_route')},
        '_template': 'embed'
    })) }}

{% endif %}


{% block content %}{% endblock %}
{% block fos_user_content %}{% endblock %}
{% block hwi_oauth_content %}{% endblock %}

{% block javascripts %}{% endblock %}

<script src="/bundles/nsmapi/bower_components/jquery/jquery.js"></script>
<script src="/bundles/nsmapi/bower_components/selectize/dist/js/standalone/selectize.js"></script>
<script src="/bundles/nsmapi/bower_components/DataTables/media/js/jquery.dataTables.js"></script>
<script src="/bundles/nsmapi/bower_components/hinclude/hinclude.js"></script>

<script>
    $('[data-widget=entitySearch]').each(function(){
        var $this = $(this),
            options = $this.data('entitySearchOptions') || {}
            ;

        options.selectizeOptions.render = options.selectizeOptions.render || {};
        options.selectizeOptions.render.option = function(item, escape){
            return '<div>' + item.id + ' ' + item.title + '</div>';
        };

        $(this).selectize(options.selectizeOptions);
    });
    $('[data-widget=dataTable]').each(function(){
        var $this = $(this),
            options = $this.data('dataTableOptions') || {}
            ;
        $(this).DataTable(options);
    });

</script>

</body>
</html>

