{% extends '::base.html.twig' %}

{% set entities = pager.getCurrentPageResults %}

{% block body -%}
    <h1>Task list</h1>
    {{ form(form) }}
    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('tasks_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.title }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('tasks_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('tasks_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                    <li>
                        <a href="{{ path('tasks_remove', { 'id': entity.id }) }}">remove</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('tasks_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
