{% extends 'NsmApiBundle::layout.html.twig' %}

{% block content -%}
    <h1>Task</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Activitydurationsum</th>
                <td>{{ entity.activityDurationSum }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Deletedat</th>
                <td>{{ entity.deletedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

    <div>
        <a href="{{ path('task_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </div>
    <div>
        <a href="{{ path('task_browse') }}">
            Back to the list
        </a>
    </div>
{% endblock %}
