<table class="Table Table--data Table--bordered">
<thead>
    <tr>
        <th class="TableCell-id">Id</th>
        <th>Title</th>
        <th>Sub Tasks</th>
        <th>Project</th>
        <th class="TableCell--icon"></th>
    </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('task_read', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.title }}</td>
            <td>{{ entity.subTasks.count }}</td>
            <td>{% if entity.project is null %}Foo{% endif %}</td>
            <td>
                <span class="Button"
                      data-widget="flyoutTrigger"
                      data-flyout-trigger-options="{{ {"flyout": "#CollectionRow-options-flyout-" ~ entity.id}|json_encode(24) }}"
                        >
                    <svg class="Button-icon" viewBox="0 0 24 24">
                        <g id="menu">
                            <path d="M3,18h18v-2H3V18z M3,13h18v-2H3V13z M3,6v2h18V6H3z"></path>
                        </g>
                    </svg>
                </span>

                <div class="Flyout" id="CollectionRow-options-flyout-{{ entity.id }}">
                    <ul class="Menu">
                        <li>
                            <a href="{{ path('activity_add', { 'taskId': entity.id }) }}">create activity</a>
                        </li>
                        <li>
                            <a href="{{ path('task_read', { 'id': entity.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('task_edit', { 'id': entity.id }) }}">edit</a>
                        </li>
                        <li>
                            <a href="{{ path('task_destroy', { 'id': entity.id }) }}">destroy</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
