{% extends 'NsmAppBundle::layout.html.twig' %}

{% set entities = pager.getCurrentPageResults %}

{% block content -%}
    <h1>Tip list</h1>

    {{ form_start(searchForm, {"attr": {"class": "Form", "novalidate": "novalidate"}}) }}
    <table>
        <tbody>
        {{ form_row(searchForm.id) }}
        {{ form_row(searchForm.title) }}
        {{ form_row(searchForm.route) }}
        </tbody>
    </table>
    <div class="Form-actions">
        {{ form_row(searchForm.search) }}
    </div>
    {{ form_end(searchForm) }}

    <table data-widget="dataTable" data-data-table-options="{{ {
        'serverSide': true,
        'ajax': path('tip_browse'),
        '_paging': false,
        '_searching': false
    }|json_encode(constant('JSON_HEX_QUOT')) }}">
        <caption>
            Showing {{ pager.currentPageFirstResultOffset }} - {{ pager.currentPageLastResultOffset }} of {{ pager.totalResultCount }} results
        </caption>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('tip_read', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.createdAt|localizeddate('full', 'long') }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('task_add', { 'tipId': entity.id }) }}">create task</a>
                    </li>
                    <li>
                        <a href="{{ path('tip_read', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('tip_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                    <li>
                        <a href="{{ path('tip_destroy', { 'id': entity.id }) }}">destroy</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('tip_add') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
