    {{ "{{ form_start(search_form, {'attr': {'class': 'Form', 'novalidate': 'novalidate'}}) }}" }}
    <table>
        <tbody>
        {{ "{# Need to stipulate which fields to show there #}" }}
        {{ "{{ form_row(search_form) }}" }}
        </tbody>
    </table>
    <div class="Form-actions">
        {{ "{{ form_row(search_form.search) }}" }}
    </div>
    {{ "{{ form_end(search_form) }}" }}

    <table>
        <caption>
            Showing {{ "{{ pager.currentPageFirstResultOffset }} - {{ pager.currentPageLastResultOffset }} of {{ pager.totalResultCount }}" }} results
        </caption>

        <thead>
        <tr>
            {%- for field in meta_data.fieldMappings %}

            <th>{{ "{{ '"~field.fieldName~"'|trans }}" }}</th>
            {%- endfor  %}
            <th>{{ "{{ 'browse_actions'|trans }}" }}</th>
        </tr>
        </thead>
        <tbody>
        {{ "{% for entity in entities %}" }}
            {{ "{% include '" ~ bundle_name ~ ":" ~ entity_name ~ ":_partials/collectionItem.html.twig' with {" }}
                "entity": entity
            {{ "} %}" }}
        {{ "{% endfor %}" }}
        </tbody>
    </table>
